RewriteEngine on


# Return 404 if original request is .php
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
#RewriteRule .* [R=404,L]
RewriteRule .* - [L,R=404]

RewriteRule ^login$ pages/login.php [NC,L]
RewriteRule ^logout$ pages/logout.php [NC,L]
RewriteRule ^dashboard$ pages/dashboard.php [NC,L]

#employee
RewriteRule ^employee_list/employee$ pages/emp_employee.php [NC,L]
RewriteRule ^employee_fetch$ pages/emp_employee_fetch.php [NC,L]
RewriteRule ^employee_list/add_employee$ pages/emp_add_employee.php [NC,L]
RewriteRule ^employee_list/add_employee_json$ pages/add_employee_json.php [NC,L]
RewriteRule ^employee_list/add_employee_arra$ pages/add_employee_arra.php [NC,L]
RewriteRule ^employee_list/add_employee/([-\w]+)$ pages/emp_add_employee.php?edit=$1 [NC,L]
RewriteRule ^employee_list/employee/([-\w]+)$ pages/emp_view_employee.php?edit=$1 [NC,L]
RewriteRule ^employee_list/employee/([-\w]+)/(\d+)$ pages/emp_history_employee.php?employee_id=$1&join_id=$2 [NC,L]
RewriteRule ^datatable_emp$ pages/datatable_emp.php [NC,L]
RewriteRule ^check_employee_no$ pages/emp_check_employee_no.php [NC,L]
RewriteRule ^check_employee_id$ pages/emp_check_employee_id.php [NC,L]
RewriteRule ^check_employee_id_d$ pages/emp_check_employee_id_d.php [NC,L]
RewriteRule ^check_employee_id2$ pages/emp_check_employee_id2.php [NC,L]
RewriteRule ^employee_no$ pages/emp_employee_no.php [NC,L]
RewriteRule ^employee_no2$ pages/emp_employee_no2.php [NC,L]
RewriteRule ^check_nic_no$ pages/emp_check_nic_no.php [NC,L]
RewriteRule ^check_nic_old$ pages/emp_check_nic_old.php [NC,L]
RewriteRule ^backend-script$ pages/emp_backend-script.php [NC,L]
#RewriteRule ^employee_list/employee/add_bank/([-\w]+)$ pages/emp_add_bank.php?bank=$1 [NC,L]
RewriteRule ^employee_list/employee/resignation_employee/([-\w]+)$ pages/emp_resignation.php?resi=$1 [NC,L]
#RewriteRule ^employee_list/save_query$ pages/save_query.php [NC,L]
RewriteRule ^employee_list/resignation/list$ pages/res_list.php [NC,L]
RewriteRule ^employee_list/resignation/cal_payment$ pages/res_cal_payment.php [NC,L]
RewriteRule ^fetch_cal_pay$ pages/res_fetch_cal_pay.php [NC,L]
RewriteRule ^cal_process$ pages/res_cal_process.php [NC,L]
RewriteRule ^bank_edit$ pages/emp_bank_edit.php [NC,L]
RewriteRule ^promote_edit$ pages/emp_promote_edit.php [NC,L]
RewriteRule ^epf_excluded_edit$ pages/emp_epf_excluded_edit.php [NC,L]
RewriteRule ^list_fetch$ pages/res_list_fetch.php [NC,L]
RewriteRule ^employee_list/resignation/print/([-\w]+)$ pages/res_list_print.php?print=$1 [NC,L]
RewriteRule ^employee_list/epf_excluded$ pages/emp_epf_etf_excluded.php [NC,L]
RewriteRule ^employee_list/disable$ pages/emp_disable.php [NC,L]
RewriteRule ^fetch_employees$ pages/fetch_employees.php [NC,L]


#allowances
RewriteRule ^allowance_list/allowance$ pages/all_allowances.php [NC,L]
RewriteRule ^allowance_list/add_allowance$ pages/all_add_allowances.php [NC,L]
RewriteRule ^allowance_list/add_allowance/([-\w]+)$ pages/all_add_allowances.php?edit=$1 [NC,L]
RewriteRule ^allowance_list/emp_allowance$ pages/all_emp_allowances.php [NC,L]
RewriteRule ^allowance_list/add_emp_allowance$ pages/all_add_emp_allowance.php [NC,L]
RewriteRule ^allowance_list/add_emp_allowance/([-\w]+)$ pages/all_add_emp_allowance.php?edit=$1 [NC,L]
RewriteRule ^allowance_list/shifts_allowance$ pages/all_shifts_allowance.php [NC,L]
RewriteRule ^edit_shifts_allowance$ pages/all_shifts_allowance_edit.php [NC,L]
RewriteRule ^allowance_list/shifts_allowance_emp$ pages/all_shifts_allowance_emp.php [NC,L]
RewriteRule ^edit_shifts_allowance_emp$ pages/all_shifts_allowance_emp_edit.php [NC,L]
RewriteRule ^allowance_list/shifts_allowance_institute$ pages/all_shifts_allowance_institute.php [NC,L]
RewriteRule ^edit_shifts_allowance_institute$ pages/all_shifts_allowance_institute_edit.php [NC,L]
RewriteRule ^allowance_list/shifts_rate$ pages/all_shifts_rate.php [NC,L]
RewriteRule ^edit_shifts_rate$ pages/all_shifts_rate_edit.php [NC,L]

#deduction
RewriteRule ^deduction_list/deduction$ pages/ded_deduction.php [NC,L]
RewriteRule ^deduction_list/add_deduction$ pages/ded_add_deduction.php [NC,L]
RewriteRule ^deduction_list/add_deduction/([-\w]+)$ pages/ded_add_deduction.php?edit=$1 [NC,L]
RewriteRule ^deduction_list/emp_deduction$ pages/ded_emp_deduction.php [NC,L]
RewriteRule ^deduction_list/add_emp_deduction$ pages/ded_add_emp_deduction.php [NC,L]
RewriteRule ^deduction_list/add_emp_deduction/([-\w]+)$ pages/ded_add_emp_deduction.php?edit=$1 [NC,L]
RewriteRule ^deduction_list/clothes_ded$ pages/product_deduction.php [NC,L]
RewriteRule ^deduction_list/uniforms_ded$ pages/ded_uniforms_deduction.php [NC,L]
RewriteRule ^uniforms_approved$ pages/ded_uniforms_approved.php [NC,L]

#institution
RewriteRule ^institution_list/institution$ pages/ins_institution.php [NC,L]
RewriteRule ^institution_list/add_institution$ pages/ins_add_institution.php [NC,L]
RewriteRule ^institution_list/add_institution/([-\w]+)$ pages/ins_add_institution.php?edit=$1 [NC,L]
RewriteRule ^institution_list/institution/([-\w]+)$ pages/ins_mark_attendance.php?mark=$1 [NC,L]
RewriteRule ^institution_list/institution/salary_advance/([-\w]+)$ pages/ins_salary_advance.php?sal=$1 [NC,L]
RewriteRule ^institution_list/institution/salary_advance/([-\w]+)/(\d+)$ pages/ins_salary_advance_edit.php?sal=$1&edit=$2 [NC,L]
RewriteRule ^institution_list/institution/invoice/([-\w]+)$ pages/ins_invoice.php?sal=$1 [NC,L]
RewriteRule ^institution_list/institution/invoice/([-\w]+)/(\d+)$ pages/ins_invoice.php?sal=$1&inv_id=$2 [NC,L]
RewriteRule ^invoice_data$ pages/ins_invoice_data.php [NC,L]
RewriteRule ^salarycount$ pages/ins_salary_advance_count.php [NC,L]
RewriteRule ^attendancecount$ pages/ins_mark_attendance_count.php [NC,L]
RewriteRule ^ins_add_emp$ pages/ins_add_employee.php [NC,L]
RewriteRule ^institution_list/institution/hostel/([-\w]+)$ pages/ins_hostel.php?dep_id=$1 [NC,L]
RewriteRule ^institution_list/institution/ration/([-\w]+)$ pages/ins_ration.php?dep_id=$1 [NC,L]
RewriteRule ^institution_list/institution/ration/([-\w]+)/(\d+)$ pages/ins_ration.php?dep_id=$1&sup_id=$2 [NC,L]
RewriteRule ^institution_list/institution/fines/([-\w]+)$ pages/ins_fines.php?dep_id=$1 [NC,L]
RewriteRule ^institution_list/institution/extra_ot/([-\w]+)$ pages/ins_extra_ot.php?dep_id=$1 [NC,L]
RewriteRule ^institution_list/institution/d_attendance/([-\w]+)$ pages/ins_d_attendance.php?dep_id=$1 [NC,L]
RewriteRule ^institution_list/institution/to_be_applied/([-\w]+)$ pages/ins_to_be_applied.php?sal=$1 [NC,L]
RewriteRule ^to_be_applied_data$ pages/ins_to_be_applied_data.php [NC,L]


#attendance
RewriteRule ^attendance_list/attendance$ pages/att_attendance_list.php [NC,L]
RewriteRule ^attendance_list/add_attendance$ pages/att_add_attendance.php [NC,L]
RewriteRule ^attendance_list/add_attendance_merc$ pages/att_add_merc_holiday.php [NC,L]
#RewriteRule ^attendance_list/add_attendance/([-\w]+)$ pages/att_add_attendance.php?mark=$1 [NC,L]
RewriteRule ^edit_attendance$ pages/att_edit_attendance.php [NC,L]

#Payroll
RewriteRule ^payroll_list/payroll$ pages/pay_payroll_list.php [NC,L]
RewriteRule ^payroll_list/payroll/([-\w]+)$ pages/pay_view_payroll.php?view=$1 [NC,L]
#RewriteRule ^payroll_list/payroll2$ pages/payroll_list2.php [NC,L]
RewriteRule ^payroll_list/add_payroll$ pages/pay_add_payroll.php [NC,L]
RewriteRule ^payroll_list/payslip_generate$ pages/pay_payslip_generate.php [NC,L]
RewriteRule ^process$ pages/pay_process.php [NC,L]
RewriteRule ^process_approved$ pages/pay_process_approved.php [NC,L]
RewriteRule ^payroll_list/payroll/pay_slip/([-\w]+)$ pages/pay_pay_slip.php?view=$1 [NC,L]
RewriteRule ^fetch_deduction$ pages/pay_fetch_deduction.php [NC,L]
RewriteRule ^fetch_not_deduction$ pages/pay_fetch_not_deduction.php [NC,L]
RewriteRule ^fetch_allowance$ pages/pay_fetch_allowance.php [NC,L]
RewriteRule ^fetch_no_of_shifts$ pages/pay_fetch_no_of_shifts.php [NC,L]
RewriteRule ^payroll_list/print/([-\w]+)$ pages/pay_print.php?view=$1 [NC,L]
RewriteRule ^payroll_list/print/([-\w]+)/(\d+)$ pages/pay_print.php?view=$1&pay_id=$2 [NC,L]
RewriteRule ^payroll_list/print_pay_slip$ pages/pay_print_pay_slip.php [NC,L]
RewriteRule ^payroll_list/print_depatment$ pages/pay_print_depatment.php [NC,L]
RewriteRule ^edit_payroll$ pages/pay_edit_payroll.php [NC,L]
RewriteRule ^halt_reason$ pages/pay_halt_reason.php [NC,L]
RewriteRule ^fetch_halt$ pages/pay_fetch_halt.php [NC,L]
RewriteRule ^payroll_list/duty_summary$ pages/pay_duty_summary.php [NC,L]
RewriteRule ^payroll_list/duty_summary_depatment$ pages/pay_duty_summary_depatment.php [NC,L]
RewriteRule ^payroll_list/att_tfr$ pages/pay_att_tfr.php [NC,L]
RewriteRule ^tfr_process$ pages/pay_att_tfr_process.php [NC,L]

#loan
RewriteRule ^loan/loan_list$ pages/loan_list.php [NC,L]
RewriteRule ^loan/loan_list/([-\w]+)$ pages/loan_schedules.php?edit=$1 [NC,L]
RewriteRule ^loan/new_loan_req$ pages/loan_req.php [NC,L]
RewriteRule ^loan/new_loan_req/([-\w]+)$ pages/loan_req.php?edit=$1 [NC,L]
RewriteRule ^datatable$ pages/datatable.php [NC,L]
#RewriteRule ^loan/new_salary_advance$ pages/salary_advance.php [NC,L]
#RewriteRule ^loan/new_salary_advance/([-\w]+)$ pages/salary_advance.php?edit=$1 [NC,L]
#RewriteRule ^loan/salary_advance_list$ pages/salary_advance_list.php [NC,L]

#position
RewriteRule ^position_list/position$ pages/position.php [NC,L]
RewriteRule ^position_list/add_position$ pages/position_add.php [NC,L]
RewriteRule ^position_list/add_position/([-\w]+)$ pages/position_add.php?edit=$1 [NC,L]
RewriteRule ^position_list/position_pay$ pages/position_pay.php [NC,L]
RewriteRule ^position_list/add_position_pay$ pages/position_add_pay.php [NC,L]
RewriteRule ^position_list/add_position_pay/([-\w]+)$ pages/position_add_pay.php?edit=$1 [NC,L]
RewriteRule ^check_position_id$ pages/position_check_id.php [NC,L]
RewriteRule ^position_list/add_increment$ pages/position_add_increment.php [NC,L]
RewriteRule ^position_list/increment_rate$ pages/position_increment.php [NC,L]

#inventory
RewriteRule ^inventory/product_list$ pages/product_list.php [NC,L]
RewriteRule ^inventory/add_product$ pages/product_add.php [NC,L]
RewriteRule ^inventory/add_product/([-\w]+)$ pages/product_add.php?edit=$1 [NC,L]
RewriteRule ^inventory/stock$ pages/product_stock.php [NC,L]
RewriteRule ^inventory/add_stock$ pages/product_add_stock.php [NC,L]
RewriteRule ^inventory/issue_product$ pages/product_issue.php [NC,L]
RewriteRule ^inventory/issue_product/([-\w]+)$ pages/product_issue_add_list.php?invoice_id=$1 [NC,L]
RewriteRule ^product_price$ pages/product_price.php [NC,L]
RewriteRule ^fetch_issue$ pages/product_fetch_issue.php [NC,L]
RewriteRule ^inventory/issue_product/monthly/([-\w]+)/(\d+)$ pages/product_issue.php?add=$1&loc_id=$2 [NC,L]
#RewriteRule ^inventory/issue_product/([-\w]+)/(\d+)$ pages/product_monthly.php?emp_id=$1&ref_no=$2 [NC,L]
RewriteRule ^inventory/re_print$ pages/product_re_print.php [NC,L]
RewriteRule ^inventory/invoice_print$ pages/product_invoice_print.php [NC,L]
RewriteRule ^backend_script$ pages/product_backend_script.php [NC,L]
RewriteRule ^inventory/location$ pages/product_location.php [NC,L]
RewriteRule ^location_add$ pages/product_location_add.php [NC,L]
RewriteRule ^backend/([-\w]+)$ pages/product_backend-script.php?row_id=$1 [NC,L]
RewriteRule ^product_script$ pages/product_script.php [NC,L]
RewriteRule ^inventory/issue_sub_loc$ pages/product_issue_sub_loc.php [NC,L]
RewriteRule ^issue_sub_loc_fetch$ pages/product_issue_sub_loc_fetch.php [NC,L]
RewriteRule ^issue_emp_fetch$ pages/product_issue_emp_fetch.php [NC,L]
RewriteRule ^create_invoice_loc$ pages/product_create_invoice_loc.php [NC,L]
RewriteRule ^inventory/print_invoice/([-\w]+)$ pages/product_print_invoice.php?invoice_id=$1 [NC,L]
RewriteRule ^inventory/stock/([-\w]+)/(\d+)$ pages/product_stock_details.php?location_id=$1&product_id=$2 [NC,L]

RewriteRule ^create_invoice$ pages/product_create_invoice_emp.php [NC,L]
RewriteRule ^inventory/issue_sub_loc/([-\w]+)$ pages/product_issue_sub_add_list.php?invoice_id=$1 [NC,L]
RewriteRule ^inventory/invoice_sub_print$ pages/product_invoice_sub_print.php [NC,L]

RewriteRule ^inventory/deduction/([-\w]+)$ pages/product_deduction_emp.php?edit=$1 [NC,L]

#Reports
RewriteRule ^reports/payroll_list/payrolls$ pages/reports_payroll.php [NC,L]
RewriteRule ^reports_payroll_fetch$ pages/reports_payroll_fetch.php [NC,L]
RewriteRule ^reports/misc/ins_pay$ pages/reports_ins_pay.php [NC,L]
RewriteRule ^ins_pay_fetch$ pages/reports_ins_pay_fetch.php [NC,L]
RewriteRule ^reports/misc/positions_pay$ pages/reports_position_pay.php [NC,L]
RewriteRule ^reports/misc/employee_list$ pages/reports_employee_list.php [NC,L]
RewriteRule ^employee_list_fetch$ pages/reports_employee_list_fetch.php [NC,L]
RewriteRule ^reports/deduction/uniforms$ pages/reports_uniforms.php [NC,L]
RewriteRule ^uniforms_fetch$ pages/reports_uniforms_fetch.php [NC,L]
RewriteRule ^reports/deduction/uniforms_sum$ pages/reports_uniforms_sum.php [NC,L]
RewriteRule ^uniforms_sum_fetch$ pages/reports_uniforms_sum_fetch.php [NC,L]
RewriteRule ^reports/payroll_print_depatment$ pages/reports_payroll_print_depatment.php [NC,L]
RewriteRule ^reports/misc/invoice$ pages/reports_invoice.php [NC,L]
RewriteRule ^reports_invoice_fetch$ pages/reports_invoice_fetch.php [NC,L]
RewriteRule ^position_pay_fetch$ pages/reports_position_pay_fetch.php [NC,L]
RewriteRule ^reports/deduction/ration_depwise$ pages/reports_ration.php [NC,L]
RewriteRule ^ration_fetch$ pages/reports_ration_fetch.php [NC,L]

RewriteRule ^reports/misc/working_shifts_pay$ pages/reports_working_shifts_pay.php [NC,L]
RewriteRule ^working_shifts_pay$ pages/reports_working_shifts_pay_fetch.php [NC,L]

RewriteRule ^reports/payroll_list/payrolls_ins$ pages/reports_payroll_ins.php [NC,L]
RewriteRule ^reports_payroll_fetch_ins$ pages/reports_payroll_fetch_ins.php [NC,L]
RewriteRule ^reports/payroll_print_depatments$ pages/reports_payroll_print_depatments.php [NC,L]
RewriteRule ^reports/payroll_list/payrolls_halt$ pages/reports_payroll_halt.php [NC,L]
RewriteRule ^reports_payroll_fetch_halt$ pages/reports_payroll_fetch_halt.php [NC,L]
RewriteRule ^reports/payroll_list/pdeposit_bank$ pages/reports_payroll_deposit_bank.php [NC,L]
RewriteRule ^payroll_deposit_bank_fetch$ pages/reports_payroll_deposit_bank_fetch.php [NC,L]
RewriteRule ^reports/payroll_list/pcash_hand$ pages/reports_payroll_cash_hand.php [NC,L]
RewriteRule ^payroll_cash_hand_fetch$ pages/reports_payroll_cash_hand_fetch.php [NC,L]

RewriteRule ^reports/deduction/loan$ pages/reports_loan.php [NC,L]
RewriteRule ^reports/deduction/loan_month$ pages/reports_loan_month.php [NC,L]
RewriteRule ^loan_month_fetch$ pages/reports_loan_month_fetch.php [NC,L]
RewriteRule ^loan_fetch$ pages/reports_loan_fetch.php [NC,L]
RewriteRule ^reports/deduction/all_deduction$ pages/reports_all_deduction.php [NC,L]
RewriteRule ^all_deduction_fetch$ pages/reports_all_deduction_fetch.php [NC,L]
RewriteRule ^reports/deduction/fines$ pages/reports_fines.php [NC,L]
RewriteRule ^reports/deduction/death$ pages/reports_death.php [NC,L]
RewriteRule ^reports/allowance/all_allowances$ pages/reports_all_allowances.php [NC,L]
RewriteRule ^all_allowances_fetch$ pages/reports_all_allowances_fetch.php [NC,L]
RewriteRule ^reports/allowance/chairman$ pages/reports_chairman.php [NC,L]
RewriteRule ^svc_count_fetch$ pages/reports_service_count_fetch.php [NC,L]
RewriteRule ^reports/misc/svc_count$ pages/reports_service_count.php [NC,L]
RewriteRule ^reports/misc/svc_count/([-\w]+)/(\d+)$ pages/reports_service_count_list.php?svc=$1&date=$2 [NC,L]


RewriteRule ^reports/deduction/dsummary$ pages/reports_dsummary.php [NC,L]
RewriteRule ^dsummary_fetch$ pages/reports_dsummary_fetch.php [NC,L]
RewriteRule ^reports/misc/epf_etf$ pages/reports_epf_etf.php [NC,L]
RewriteRule ^epf_etf_fetch$ pages/reports_epf_etf_fetch.php [NC,L]
RewriteRule ^reports/misc/etf$ pages/reports_etf.php [NC,L]
RewriteRule ^reports/misc/etf/([-\w]+)/(\d+)$ pages/reports_etf.php?from=$1&to=$2 [NC,L]
RewriteRule ^etf_fetch$ pages/reports_etf_fetch.php [NC,L]

RewriteRule ^reports/misc/to_be_applied$ pages/reports_to_be_applied.php [NC,L]
RewriteRule ^to_be_applied_fetch$ pages/reports_to_be_applied_fetch.php [NC,L]

RewriteRule ^reports/allowance/asummary$ pages/reports_asummary.php [NC,L]
RewriteRule ^asummary_fetch$ pages/reports_asummary_fetch.php [NC,L]

#advance
RewriteRule ^reports/advance/summary$ pages/reports_advance_summary.php [NC,L]
RewriteRule ^reports/advance/deposit_bank$ pages/reports_deposit_bank.php [NC,L]
RewriteRule ^deposit_bank_fetch$ pages/reports_deposit_bank_fetch.php [NC,L]
RewriteRule ^reports/advance/cash_hand$ pages/reports_cash_hand.php [NC,L]
RewriteRule ^cash_hand_fetch$ pages/reports_cash_hand_fetch.php [NC,L]
RewriteRule ^advance_summary_fetch$ pages/reports_advance_summary_fetch.php [NC,L]
RewriteRule ^reports/advance/ins_wise$ pages/reports_advance_ins_wise.php [NC,L]
RewriteRule ^ins_wise_fetch$ pages/reports_advance_ins_wise_fetch.php [NC,L]
RewriteRule ^reports/advance/request_form$ pages/reports_request_form.php [NC,L]
RewriteRule ^reports/advance/request_form_print$ pages/reports_request_form_print.php [NC,L]
RewriteRule ^reports/deduction/ration_form$ pages/reports_ration_form.php [NC,L]
RewriteRule ^reports/deduction/ration_form_print$ pages/reports_ration_form_print.php [NC,L]

#dummy
RewriteRule ^dummy/d_payroll$ pages/dummy_payroll_list.php [NC,L]
RewriteRule ^dummy/d_print_pay_slip$ pages/dummy_print_pay_slip.php [NC,L]
RewriteRule ^add_payroll$ pages/dummy_add_payroll.php [NC,L]
RewriteRule ^d_process$ pages/dummy_process.php [NC,L]
RewriteRule ^dummy/d_payroll/([-\w]+)$ pages/dummy_view_payroll.php?view=$1 [NC,L]
RewriteRule ^dummy/d_print_depatment$ pages/dummy_print_depatment.php [NC,L]
RewriteRule ^payroll_fetch$ pages/dummy_payroll_fetch.php [NC,L]
RewriteRule ^dummy/d_shifts_rate$ pages/dummy_shifts_rate.php [NC,L]
RewriteRule ^edit_d_shifts_rate$ pages/dummy_shifts_rate_edit.php [NC,L]
RewriteRule ^dummy/d_position_pay$ pages/dummy_position_pay.php [NC,L]
RewriteRule ^edit_d_position_pay$ pages/dummy_position_pay_edit.php [NC,L]
RewriteRule ^dummy/payroll_print_depatment$ pages/dummy_payroll_print_depatment.php [NC,L]
RewriteRule ^dummy/d_ins_merge$ pages/dummy_institute_merge.php [NC,L]
RewriteRule ^ins_backend-script$ pages/dummy_ins_backend-script.php [NC,L]
RewriteRule ^dummy/d_emp_allowance$ pages/dummy_emp_allowances.php [NC,L]
RewriteRule ^dummy/d_add_emp_allowance$ pages/dummy_add_emp_allowance.php [NC,L]



#Death
RewriteRule ^death/death_list$ pages/death_list.php [NC,L]
RewriteRule ^death/add_death$ pages/death_add.php [NC,L]
RewriteRule ^death/add_donation$ pages/death_add_donation.php [NC,L]

#Ration
RewriteRule ^ration/supplier_list$ pages/ration_supplier_list.php [NC,L]
RewriteRule ^ration/add_supplier$ pages/ration_add_supplier.php [NC,L]
RewriteRule ^ration/add_supplier/([-\w]+)$ pages/ration_add_supplier.php?edit=$1 [NC,L]
RewriteRule ^ration/emp_ration$ pages/ration_emp.php [NC,L]
RewriteRule ^ration/add_emp_ration$ pages/ration_add_emp.php [NC,L]

#Payment
RewriteRule ^payment/salary$ pages/payment_salary.php [NC,L]
RewriteRule ^payment/salary/([-\w]+)$ pages/payment_salary.php?effective_date=$1 [NC,L]
RewriteRule ^payment/supplier$ pages/payment_supplier.php [NC,L]
RewriteRule ^payment/loan$ pages/payment_loan.php [NC,L]
RewriteRule ^payment/advance$ pages/payment_advance.php [NC,L]
RewriteRule ^payment/advance_halt$ pages/payment_advance_halt.php [NC,L]
RewriteRule ^advance_fetch$ pages/payment_advance_fetch.php [NC,L]
RewriteRule ^advance_halt_fetch$ pages/payment_advance_halt_fetch.php [NC,L]
RewriteRule ^payment/epf$ pages/payment_epf.php [NC,L]
RewriteRule ^payment/etf$ pages/payment_etf.php [NC,L]
RewriteRule ^payment/resignations$ pages/payment_resignation.php [NC,L]
RewriteRule ^payment/resignations/([-\w]+)$ pages/payment_resignation.php?effective_date=$1 [NC,L]
RewriteRule ^payment/halt_release$ pages/payment_halt_release.php [NC,L]

#Settings
RewriteRule ^settings/bank_list$ pages/settings_bank_list.php [NC,L]
#RewriteRule ^settings/salary/([-\w]+)$ pages/payment_salary-old.php?effective_date=$1 [NC,L]
RewriteRule ^settings/bank_branch_list$ pages/settings_bank_branch_list.php [NC,L]
#RewriteRule ^settings/loan$ pages/payment_loan.php [NC,L]
#RewriteRule ^settings/advance$ pages/payment_advance.php [NC,L]
RewriteRule ^edit_branch$ pages/settings_bank_branch_name.php [NC,L]
RewriteRule ^edit_bank$ pages/settings_bank_name.php [NC,L]
RewriteRule ^settings/police_list$ pages/settings_police_list.php [NC,L]
RewriteRule ^police_edit$ pages/settings_police_edit.php [NC,L]
RewriteRule ^settings/gn_division_list$ pages/settings_gn_division_list.php [NC,L]
RewriteRule ^gn_division_edit$ pages/settings_gn_division_edit.php [NC,L]
RewriteRule ^settings/sector_list$ pages/settings_sector_list.php [NC,L]
RewriteRule ^edit_sector$ pages/settings_sector_name.php [NC,L]
RewriteRule ^settings/invoice_rate$ pages/settings_invoice_rate.php [NC,L]
RewriteRule ^edit_invoice_rate$ pages/settings_invoice_rate_edit.php [NC,L]



#users
RewriteRule ^users/list$ pages/users.php [NC,L]
RewriteRule ^edit_users$ pages/users_add.php [NC,L]
#RewriteRule ^users/add_users/([-\w]+)$ pages/users_add.php?edit=$1 [NC,L]
RewriteRule ^users/role/([-\w]+)$ pages/users_permissions.php?edit=$1 [NC,L]
RewriteRule ^system_permissions$ pages/system_permissions.php [NC,L]
RewriteRule ^users/role$ pages/users_role.php [NC,L]
RewriteRule ^edit_role$ pages/users_role_name.php [NC,L]
RewriteRule ^add_role$ pages/users_add_role.php [NC,L]
RewriteRule ^edit_role_permissions$ pages/users_role_permissions.php [NC,L]
RewriteRule ^edit_permissions$ pages/users_edit_permissions.php [NC,L]

RewriteRule ^profile$ pages/profile.php [NC,L]
RewriteRule ^check_password$ pages/check_password.php [NC,L]

#RewriteRule ^fetch$ pages/fetch.php [NC,L]
#RewriteRule ^process_data$ pages/process_data.php [NC,L]
#RewriteRule ^process_data_nic$ pages/process_data_nic.php [NC,L]
#RewriteRule ^process_data_attendance$ pages/process_data_attendance.php [NC,L]
RewriteRule ^check_department_id$ pages/check_department_id.php [NC,L]

RewriteRule ^test$ pages/test.php [NC,L]

RewriteRule ^increment_script$ pages/increment_script.php [NC,L]

#RewriteRule ^stock/slaocstock/product/([-\w]+)/(\d+)$ slaocstock_product.php?cat=$1&slaoc=$2 [NC,L]


#RewriteRule ^category/([-\w]+)/(\d+)$ category.php?url=$1&page=$2 [NC,L]

# Disabling Directory Browse
Options -Indexes

# Custom Error Page
ErrorDocument 404 /pages/error404.php